body,ul,li {
    padding: 0;
    margin: 0;
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
a {
    text-decoration: none;
}

/* 头部 */
header {
    height: 85px;
    width: 100%;
    min-width: 1226px;  
}
.head-nav {
    height: 85px;
    width: 1226px;
    margin: 0 auto;
}
.head-nav .logo {
    display: block;
    height: 85px;
    width: 100px;
    background: url(../img/logo.jpg) no-repeat 50% 50%;
    background-size: 142%;
}

/* 主体 */
.container {
    height: 600px;
    width: 100%;
    min-width: 1226px;
}
.container::after {
    content: "";
    display: block;
    clear: both;
}
.container .bg {
    height: 600px;
    width: 100%;
    margin: 0 auto;
    background: url(../img/login.png) no-repeat 50% 50%;
}
.container .bg .main {
    height: 600px;
    width: 1226px;
    margin: 0 auto;
}

/* 登录表单 */
.container .bg .main .loginForm {
    height: 440px;
    width: 360px;
    float: right;
    margin: 70px 60px;
    background: #fff;
    border-radius: 8px;
}

/* 表单上部分 */
.loginForm .form-top {
    height: 60px;
    width: 360px; 
    border-bottom: 1px solid #e6e6e6;
}
.loginForm .form-top .login {
    float: left;
    display: block;
    height: 60px;
    width: 180px;
    font-size: 20px;
    color: #999;
    text-align: center;
    line-height: 60px;
    box-sizing: border-box;
}
.loginForm .form-top .register {
    float: left;
    display: block;
    height: 63px;
    width: 180px;
    font-size: 20px;
    color: #999;
    text-align: center;
    line-height: 60px;
    border-bottom: 3px solid #00b6fe;
    box-sizing: border-box;
}
.loginForm form span {
    display: block;
    float: left;
    height: 25px;
    width: 300px;
    margin: -25px 0 10px 30px;
    color: red;
}
.loginForm form i {
    font-size: 14px;
}

/* 表单中间 */
.loginForm .input-text {
    height: 270px;
    width: 360px;
    border: 0;
}
.input-text input {
    display: block;
    height: 40px;
    width: 300px;
    border: 1px solid #e6e6e6;
    outline: none;
    border-radius: 8px;
    font-size: 14px;
    color: #999;
    margin: 20px auto;   
    padding-left: 15px;
}
.input-text input:focus {
    border: 1px solid #00b6fe;
}
.input-text #username {
    margin-top: 35px;
}

/* 登录按钮 */
.loginForm button {
    height: 50px;
    width: 300px;
    background:#00b6fe;
    border: 0;
    outline: none;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    display: block;
    cursor: pointer;
    margin: 0 auto;
}

/* 备案信息 */
footer {
    display: inline-block;
    width: 100%;
    height: 75px;
    min-width: 1226px;
    text-align: center;
    margin-top: 10px;
}
